.nav__button:hover, .warnning a:hover, .media__icons a:hover{
    transform: scale(1.2);
}

.button:hover {
    transform: scale(1.1);
}

.button:active {
    background-color: #295E73;
}


.field:focus + .field__label {
    background-color: #0000;
    animation: slide-label 0.5s ease-in-out 1 forwards;
}

@keyframes slide-label {
    from {
        transform: translateY(0);
        opacity: 0;
    }

    to {
        transform: translateY(-1.5rem);
        opacity: 1;
    }
}


.field:focus::-webkit-input-placeholder {
    color: transparent;
}

.field:focus:-moz-placeholder { 
    color: transparent;  
}

.field:focus::-moz-placeholder {  
    color: transparent;  
}
 
.field:focus:-ms-input-placeholder {  
    color: transparent;  
}