.login__information {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

#log__in {
    gap: 1.3rem;
}

/* ---------------------- RADIOBTN ---------------------- */

.radio__button {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.radio__btn__container {
    display: flex;
    gap: 1rem;
}

#gender__field label {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.show__radio__button {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    border: 0.1rem solid #295E73;
    cursor: pointer;
}

.radio__button[type="radio"] + label {
    color: #295E73;
}

.radio__button[type="radio"]:checked + label span {
    color: #F26D78;
}

.radio__button[type="radio"]:checked + label .show__radio__button {
    background: radial-gradient(circle, #F26D78 45%, transparent 50%);
}

#gender__field h3 {
    font-size: 0.9rem;
}

#gender__field {
    padding-left: 3.3rem;
}

.radio__title{
    font-size: 0.7rem;
}

/* ---------------------- FORM LABELS ---------------------- */

.form__field {
    position: relative;
    display: flex;
    flex-direction: column;
}

.field__label {
    font-size: 0.9rem;
    overflow: hidden;
    position: absolute;
    left: 3.3rem;
    top: 0.3rem;
    opacity: 0;
}

#birth__label {
    opacity: 0;
}

/* ---------------------- TERMS FORM ---------------------- */

.terms__text {
    font-size: 0.8rem;
    margin-right: 1rem;
}

.terms__input {
    margin-right: 0.5rem;
}

.error, .error__strong, .error__password {
    font-size: 0.7rem;
    color: red;
    padding-left: 1rem;
}

#error__password__one {
    color: #295E73;
}

.error {
    opacity: 0;
}

.terms__field {
    display: flex;
    align-items: start;
}

#terms {
    margin-top: 0.2rem;
}

.error__container {
    display: flex;
    flex-direction: column;
    display: none;
}